<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <h2 class="ms-3"><a routerLink="/" class="header-logo">HvzeArt<i class="fa-solid fa-brush ms-1"></i></a></h2>
  </ng-template>
</p-menubar>

<!--<nav>-->
<!--  <div class="container-fluid nav-header">-->
<!--    <div class="row align-items-start">-->

<!--      <div class="col d-flex justify-content-start align-items-center footer-logo-heading mt-3">-->
<!--        <h2><a routerLink="/" class="header-logo">HvzeArt<i class="fa-solid fa-brush ms-1"></i></a></h2>-->
<!--      </div>-->

<!--      <div class="col-7 d-flex justify-content-center align-items-start mt-4">-->
<!--        <ul class="nav-items">-->
<!--          <li class="nav-item me-5"><a class="nav-link" routerLink="/">Главная</a></li>-->
<!--          <li class="nav-item me-5"><a class="nav-link" routerLink="gallery">Галерея</a></li>-->
<!--          <li class="nav-item me-5"><a class="nav-link" routerLink="about">О нас</a></li>-->
<!--          <li class="nav-item me-5"><a class="nav-link" routerLink="contacts">Контакты</a></li>-->
<!--        </ul>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center mt-4">-->
<!--        One of three columns-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->

<!--    <div class="collapse navbar-collapse nav-items" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->

<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" routerLink="/">Главная</a>-->
<!--        </li>-->

<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" routerLink="gallery">Галерея</a>-->
<!--        </li>-->

<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" routerLink="about">О нас</a>-->
<!--        </li>-->

<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" routerLink="contacts">Контакты</a>-->
<!--        </li>-->

<!--      </ul>-->
<!--    </div>-->

