@font-face {
  font-family: 'KyivType Sans';
}

:host::ng-deep .p-menubar {
  border: none;
  border-radius: 0;
  height: 95px;
  background-color: #B91616;
}

:host::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
  color: #fff;

  .p-menubar .p-menubar-root-list > .p-menuitem:hover {
    background-color: #fff;
    border-radius: 5px;
    color: #000;
  }
}

.header-logo {
  text-decoration: none;
  color: #fff;
  font-family: "KyivType Sans", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

//.login-item {
//  text-decoration: none;
//  color: #fff;
//  font-size: 1.8rem;
//  transition: font-size 0.2s;
//}
//
//.login-item:hover {
//  text-decoration: none;
//  color: #000;
//  font-size: 2rem;
//}

:host::ng-deep .p-button {
  background: none;
  border: none;
}

:host::ng-deep .p-button:hover {
  color: #495057;
  background:#fff;
}

:host::ng-deep .p-badge {
  min-width: 1rem;
  height: 1rem;
  line-height: 1rem;
  font-weight: normal;
}

@media screen and (max-width: 960px) {
  :host::ng-deep .p-menubar .p-menubar-button {
    color: #fff;
    margin-left: 1rem;
  }

  :host::ng-deep .p-menubar .p-menubar-root-list {
    background: #B91616;
    width: 27%;
  }
}

@media screen and (max-width: 767px) {
  :host::ng-deep .p-menubar .p-menubar-button {
    color: #fff;
    margin-left: 1rem;
  }

  :host::ng-deep .p-menubar .p-menubar-root-list {
    background: #B91616;
    width: 27%;
  }

  :host::ng-deep .p-menubar-start {
    position: absolute;
    top: 32px;
    left: 65px;
  }
}


