<div class="footer-container">
  <div class="row">
    <div class="col-2 col-md d-flex justify-content-start align-items-center ms-5">
      <h2><a routerLink="/" class="footer-logo-header">HvzeArt<i class="fa-solid fa-brush ms-1"></i></a></h2>
    </div>
    <div class="col-7 col-md">
      <div class="d-flex justify-content-center"><h3 class="social-header">Наши контакты</h3></div>
      <div class="social-items d-flex justify-content-center align-items-center">
        <div class="row">
          <div
            class="col-4"><a
            href="telto:" class="contact-items"><i class="fa-solid fa-phone me-1"></i>{{contacts.number}}</a></div>
          <div
            class="col-4"><a href="mailto:"
                             class="contact-items"><i class="fa-solid fa-envelope me-1"></i>{{contacts.email}}</a></div>
          <div
            class="col-4"><p class="contact-items"><i class="fa-solid fa-location-dot me-1"></i>{{contacts.adress}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 col-md d-flex justify-content-center align-items-center ms-5">
      <div class="social-items">
        <h3 class="social-header">Наши соц. сети</h3>
        <p-avatar shape="circle" class="me-4 ms-1">
          <i class="fa-brands fa-vk"></i>
        </p-avatar>
        <p-avatar shape="circle" class="me-4">
          <i class="fa-brands fa-telegram"></i>
        </p-avatar>
        <p-avatar shape="circle" class="me-3">
          <i class="fa-brands fa-odnoklassniki"></i>
        </p-avatar>
        <p-avatar shape="circle" class="ms-1">
          <i class="fa-brands fa-instagram"></i>
        </p-avatar>
      </div>
    </div>
  </div>
</div>

