.container {
  margin-top: 20px;
  position: relative;
}

.bi-heading {
  margin-top: 20px;
}

.bi-header {
  color: #fff;
  font-size: 1.5rem;
  font-family: Geometria, sans-serif;
  font-weight: 500;
  margin-right: 50px;
}

.bi-line {
  width: 66%;
  height: 1px;
  background-color: white;
}

.bi-p {
  color: #FFF;
  font-size: 2.5rem;
  font-family: Acworth, sans-serif;
  font-weight: 700;
}

.bi-p-holder {
  position: absolute;
  top: 150px;
  width: 750px;
}

.bi-item {
  position: absolute;
  top: 14px;
  left: -35px;
  width: 37px;
  height: 30px;
  background-color: #B91616;
}

.bi-name {
  color: #B91616;
}

.image-container {
  height: 700px;
  margin-bottom: 40px;
  margin-left: 35px;
}

@media screen and (max-width: 960px)
{
  .image-container img {
    display:none;
  }

  .bottom-words {
    display: none;
  }

  .bi-header {
    display: none;
  }

  .bi-line {
    display: none;
  }
}

