.main-heading {
  color: #fff;
}

.main-header {
  font-family: 'Acworth', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 199px;
}

.main-header-p {
  text-align: center;
}
