<div class="d-flex align-items-center justify-content-center bi-heading">
  <h3 class="bi-header">О Нас</h3>
  <div class="bi-line"></div>
</div>

<div class="container p-0">
  <div class="bi-p-holder">
    <div class="bi-item"></div>
    <p class="bi-p ms-3">Мы арт-галерея, <span class="bi-name">HvzeArt</span>! Открываем неповторимый мир искусства:
      картины,
      скульптуры, эмоции мастеров. Вдохновляйтесь!</p>
  </div>

  <div class="image-container d-flex align-content-end justify-content-end w-100">
    <img src="/assets/img-main/watcher.jpg" alt="watcher" class="image">
  </div>
</div>



