<div class="d-flex align-items-center justify-content-center bi-heading">
  <h3 class="bi-header">О Нас</h3>
  <div class="bi-line"></div>
</div>


<div class="container">

  <div class="bi-p-holder">
    <div class="bi-item"></div>
    <p class="bi-p">Мы арт-галерея, <span class="bi-name">HvzeArt</span>! Открываем неповторимый мир искусства: картины, скульптуры, эмоции мастеров. Вдохновляйтесь!</p>
  </div>

  <div class="image-container d-flex align-content-end justify-content-end w-100 ms-5">
    <img src="/assets/img-main/watcher.jpg" alt="watcher" class="image">
  </div>

</div>



<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-6">-->
<!--      <div class="bi-img-container">-->
<!--        <img src="/assets/img-main/watcher.jpg" alt="watcher">-->
<!--        <p class="bi-p">I, Befa, put mine artistic-->
<!--          <br>abstracts Works before.<br>-->
<!--          These art pictures show the<br> whole spectrum of my inner joy,<br>-->
<!--          spiritual Mood, immeasurable <br>Joy for life.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


