<form (ngSubmit)="submitFeedback()" [formGroup]="feedbackForm">
  <div class="mb-3">
    <label for="fName">Имя:</label>
    <input type="text" pInputText id="fName"
           formControlName="fName"
           placeholder="Имя"
           class="input-wrapper">
  </div>

  <div class="mb-3">
    <label for="lName">Фамилия:</label>
    <input type="text" pInputText id="lName" formControlName="lName" placeholder="Фамилия" class="input-wrapper">
  </div>
  <div class="mb-3">
    <label for="pNumb">Номер телефона:</label>
    <input type="text" pInputText id="pNumb" formControlName="pNumb" placeholder="Номер телефона"
           [patterns]="customPatterns"
           prefix="+7"
           mask="(000) 000 00 00"
           placeholder="+7 (999) 999 99 99"
           class="input-wrapper">
  </div>
    <div class="form-group mb-3">
      <label for="switch">Нужна ли доставка?</label>
      <p-inputSwitch id="switch" formControlName="delivery" (ngModelChange)="onDeliveryChange($event)"
                     name="delivery" required></p-inputSwitch>
    </div>
  <div class="mb-3" *ngIf="checked">
    <label for="userCity">Город:</label>
    <input type="text" pInputText id="userCity" formControlName="userCity" placeholder="Город" class="input-wrapper">
  </div>
  <div class="mb-3 form-group" *ngIf="checked">
    <label for="userAddress">Адрес:</label>
    <input type="text" pInputText id="userAddress" formControlName="userAddress" placeholder="Адрес"
              class="input-wrapper">
  </div>
  <button type="submit" [disabled]="isCartEmpty || isFormValid()" pButton label="Отправить"></button>
</form>

<p-toast></p-toast>
