.main-heading {
  color: #fff;
}

.main-header {
  font-family: 'Acworth', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 199px;
}

.main-header-p {
  text-align: center;
  font-family: 'Geometria', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
}

.main-container {
  position: relative;
}

.main-hello {
  position: absolute;
  top: 25%;
  left: 27%;
  z-index: 1;
}

.main-img {
  margin-top: 20px; /* Добавьте отступ сверху, если нужно */
  display: flex;
}

.col1 {
  flex: 1;
  margin-right: 50px;
}

.col2 {
  flex: 2;
}

.first-img {
  margin-bottom: 55px;
}

.left-img {
  height: 280px;
}

@media screen and (max-width: 960px) {
  .main-header {
    font-size: 150px;
    line-height: 199px;
  }
}

@media screen and (max-width: 960px) {
  .main-header {
    font-size: 75px;
    line-height: 70px;
  }
  .main-header-p {
    font-size: 1rem;
    line-height: 30px;
  }

  .main-img {
    margin-top: 20px; /* Добавьте отступ сверху, если нужно */
  }

  .top-img {
    width: 390px;
  }

  .col1 {
    margin-right: 0;
  }

  .left-img {
    display: none;
  }

  .main-hello {
    position: absolute;
    top: 25%;
    left: 12.5%;
    z-index: 1;
  }
}


